body{
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0098A3;
    background-color: #E2EDF5;
}

h1{
    font-size: 5vh;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*span {
    font-size: 3vh;
    margin-bottom: 20px;
}*/